    <%- include('partials/header') %>
    <main>
        <div class = "ui segment">
            <h1>Data Route</h1>
            <p>This is a data route</p>
        </div>
    </main>
    <%- include('partials/footer') %>
</html>