    <%- include('partials/header') %>
    <main>
        <div class = "ui segment">
            <h1>Index Route</h1>
            <p>This is a Index route</p>
        </div>
    </main>
    <%- include('partials/footer') %>
</html>