<footer>
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <p>&copy; 2025 MyApp. All rights reserved.</p>
        </div>
    </div>
</footer>
